@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-montserrat);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}

/* Clases de fuente personalizadas */
.font-heading {
  font-family: var(--font-montserrat), system-ui, -apple-system, sans-serif;
}

.font-body {
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}
